<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeSearch</title>
    <link href="../style/main.css" rel="stylesheet">
    <link href="../style/search-module.css" rel="stylesheet">
</head>
<body>
    <h3>Search Pokemon</h3>
    <input id="search-input" type="text" placeholder="Pikachu">
    <span id="search-button"><img src="../assets/SVG/search.svg" width="25px"></span>
    <p id="search-result"></p>
    <script src="../js/pokemonsearch.js"> </script>
</body>
</html>